<div class="container">
  <div
    class="d-flex align-items-center justify-content-center"
    style="height: 100vh"
  >
    <button class="btn btn-primary p-3 m-5" (click)="launchModal(true)">
      LAUNCH MODAL <strong>WITH</strong> INITIAL DATA
    </button>
    <button class="btn btn-primary p-3 m-5" (click)="launchModal(false)">
      LAUNCH MODAL <strong>WITHOUT</strong> SETTING INITIAL DATA
    </button>

    <button class="btn btn-primary p-3 m-5" (click)="changeModalData()">
      CHANGE MODAL DATA
    </button>
  </div>
</div>
